@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Poppins";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: Poppins !important;
  margin: 0;
  padding: 0;
}
main{
  display: flex;
  padding-bottom: 0px !important;
}
.layout-box{
  width: 100%;
  height: 100%;
}
.layout-logo-box {
  width: 100%;
  height: 60px;
}
.logo-img {
  width: 30px;
  height: 30px;
}
.select-img{
  width: 200px;
  height: 10px;
  border: 1px solid black;
}
.img-box{
  width: auto;
  height: auto;
}
.canvass{
  height: auto;
  box-sizing: border-box;
  z-index: 9;
  left: 0px;
  top: 0px;
}
.canvass-top{
  height: auto;
  box-sizing: border-box;
  z-index: 10;
  left: 0px;
  top: 0px;
}
.image{
  width: 600px;
  height: 300px;
  z-index: 1;
  border: 1px solid 666;
}

.select-img-btn{
  width: 120px;
  height: 30px;
}

.canvas-result-box{
  /* top: 260px; */
}
.line-width-slider{
  width: 200px;
  position: absolute;
  left: 30px;
  top: 340px;
}
.result-img{
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.control-net-box{
  top: 250px;
}
.control-net-img{
  width: 300px;
  height: 200px;
}

.content-box{
  position: static;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
  padding: 20px;
  box-shadow: #666 0px 0px 10px;
}
.canvas-box{
  position: relative;
  width: 50%;
}
.canvas-box::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 200px;
}













/* login */
.login-box{
  height: 100vh;
  box-sizing: border-box;
}
.login-header{
  height: 90px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
}
.login-content{
  height: calc(100% - 80px);
  background-color: rgba(0, 51, 102, 1);
}
.login-content-text{
  width: 50%;
  color: white;
  font-size: 52px;
}
.login-form-box{
  width: 438px;
  height: 534px;
  border-radius: 10px;
  background-color: #fff;
}
.google-login{
  width: calc(100% - 32px);
  margin-left: 16px;
  color: #1e90ff;
  box-sizing: border-box;
  border: 1px solid #bdc3c7;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
}
.login-input{
  width: calc(100% - 32px);
  height: 42px !important;
}
.forgot-password{
  color: #1e90ff;
  padding-right: 16px;
}
.login-btn{
  width: calc(100% - 32px);
  margin-left: 16px;
  height: 42px !important;
}
.sign-up{
  color: #1e90ff;
}
.product-img{
  width: 80px;
  height: 80px;
}
.product-img-detail{
  width: 180px;
  height: 180px;
}



.w-370{
  width: 370px;
}

.img-mask{
  width: 100%;
  height: 50%;
  margin-top: 50%;
  z-index: 9;
  flex-direction: column;
  align-items: center;
}
.remove-btn{
  background-color: #767676;
  color: #FFFFFF;
  border: none;
}
.remove-btn:hover{
  color: #FFFFFF !important;
}

.address-info-box{
  border-color: #C0C0C0;
  border-radius: 5px;
}

.login-let-content{
  font-size: 58px;
}


.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222, 60, 80, .9);
    z-index: 999;
}
